<p>Username: {{username}}</p>
<p>Email: {{email}}</p>
<p>Role: {{role}}</p>
<p>Image: {{profileImg}}</p>

<a href="/students/delete/{{_id}}">Delete student</a>
<a href="/students/edit/{{_id}}">Editar</a>