{{#each students}}
<p>Username: {{username}}</p>
<p>Email: {{email}}</p>
<p>Role: {{role}}</p>
<p>Image: {{profileImg}}</p>
<p>Description: {{description}}</p>
<a href="/students/details/{{_id}}">Show Details</a>
------------------
{{/each}}